{% extends "base.html" %}
{% block content%}

<div class="container">
<div class="row justify-content-center">
<div class="col-md-8">
<div class="card">
<div class="card-header">
 <h2 class="text-center text-primary">Analyze Report</h2>
   </div>
  <div class="card-body">
  <form method="post" style="padding: 20px;">

<div class="mb-3 row">
 <label for="from" class="col-sm-3 col-form-label"><b>From:</b></label>
 <div class="col-sm-9">
 <input type="date" name="from" id="from" class="form-control"/>
  </div>
 </div>
 
<div class="mb-3 row">
 <label for="to" class="col-sm-3 col-form-label"><b>To:</b></label>
 <div class="col-sm-9">
 <input type="date" name="to" id="to" class="form-control"/>
  </div>
 </div>

 <div class="text-center mb-3">
       <button type="button" class="btn btn-primary" onclick="show()">Search</button>
  </div>
 </form>
  </div>
  </div>
 </div>
 </div>
</div>


 <div class="container">
   <p id="p" class="mb-3" style="display:none;"><b>Supervisor Report:</b></p>
      <table id="table" style="display:none;" class="table table-bordered border-primary rounded" >
    <thead class="table-primary">
         <tr>
<th>Supervisor Name</th>
<th>Total Produced</th>
<th>Total Passed</th>
<th>Total Rejected</th>
<th>Total MaterialRejection</th>
<th>Total ProcessRejection</th>

<th>Total loss in min</th>
      </tr>
     </thead>
     <tbody id="tablebody"></tbody>
   </table>
  </div>



<script>



function show()
{
var from=document.getElementById("from").value;
var to=document.getElementById("to").value;

fetch('/viewmanagerreport',{
method: 'POST',
headers: {'Content-Type': 'application/x-www-form-urlencoded'},
body: `to=${encodeURIComponent(to)}&from=${encodeURIComponent(from)}`
})
.then((response) => response.json())
.then((data) => 
{

if(data['data']){

var tablebody = document.getElementById("tablebody");
tablebody.innerHTML = "";

for (let i = 0; i < data['data'].length; i++) 
{
var row = document.createElement("tr");
row.innerHTML = "<td>" + data['data'][i][0] + "</td><td>" + data['data'][i][1] + "</td><td>" + data['data'][i][2] + "</td><td>" + data['data'][i][3] + "</td></td>"+data['data'][i][4]+"</td><td>"+data['data'][i][5]+"</td><td>"+data['data'][i][6]+"</td>";
tablebody.appendChild(row);
}
document.getElementById("table").style.display="block";
document.getElementById("p").style.display="block";
}
}).catch((error) => {
document.getElementById("table").innerHTML = "<tr><td colspan='7' class='text-danger'>Try Again</td></tr>";
document.getElementById("table").style.display="block";
document.getElementById("p").style.display="block";});


}

</script>

{% endblock %}