{% extends "base1.html" %}

{% block content %}
<div class="container">
 <div class="row">
 <div class="col-md-6">
 <h2 style="color: steelblue; text-align: center;">KUSALAVA INDUSTRIES</h2>
<p class="text-justify">
 Kusalava International is one of the leading manufacturers of critical engine parts, supplying to major OEMs in India. Kusalava International also has a dominating presence in the After Market, its products are marketed under the brand name Tiger Power, and currently Tiger Power possesses a market share of 35% in India and 30% in the USA.
<br><br>
 Backed by a strong Research and Development team with over four decades of manufacturing excellence in engine critical parts, today Kusalava has emerged as the market leader for developing superior products at cost-effective prices in the global market.
 </p>
 </div>
  <div class="col-md-6">
<img class="img-fluid rounded" src="{{ url_for('static', filename='homepage.jpg') }}" alt="kusalava" style="padding: 15px;">
</div>
</div>
</div>
{% endblock %}
